body {
    margin: 0;
    padding: 0;
    position: relative; /* 确保伪元素相对于body定位 */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(10px) brightness(1.3) contrast(0.9); /* 调整亮度和对比度 */
    z-index: -1; /* 确保它在所有内容之下 */
}
body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* 半透明白色 */
    z-index: -1; /* 确保它在所有内容之下，但在背景图像之上 */
}
.join-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.job-card {
    margin-bottom: 20px;
}
.benefits-list {
    margin: 20px 0;
}
.benefit-item {
    padding: 20px;
    text-align: center;
}
.join-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
}